.minefield {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 6px
  }
  .mine-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .cell {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    font-size: 0.7rem;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;

  
    /* disabilitare selezione testo */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .cell1 {
    color: blue;
  }
  .cell2 {
    color: green;
  }
  .cell3 {
    color: red;
  }
  .cell4 {
    color: darkblue;
  }
  .cell5 {
    color: purple;
  }
  .revealed {
    background: rgb(156, 156, 156);
  }
  .bombed{
      background: #ff4343;
  }
  .flagged{

  }